.searchContainer {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;

  div {
    width: 100%;
  }

  :global {
    .ant-select-selector {
      border-radius: 100px !important;

      span {
        margin: 0 10px;
      }
    }
  }
}

.description {
  color: grey;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}
