.searchContainer {
  display: flex;
  justify-content: center;
}

.searchInput {
  margin-top: 20px;
  width: 50%;
  height: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}
